<footer>
    <section>
        <img src="../assets/logo.svg" alt="Logo" class="logo">
    </section>
    <section>
        <a href="/overons.liquid">Over Ons</a>
        <a href="/events.liquid">Events</a>
        <a href="/publicaties.liquid">Publicaties</a>
        <a href="/leden.liquid">Leden</a>
        <a href="/vacatures.liquid">Vacatures</a>
        <a href="/privcacy.liquid">Privacybeleid</a>
    </section>
    <section>
        <div class="dda-loc">
            <bold>Dutch Digital Agencies</bold>
            <p>Overhoeksplein 1<br>1031 KS Amsterdam</p>
        </div>
        <div class="dda-info">
            <a>(0)85 4010391</a>
            <a>info@dutchdigitalagencies.com</a>
        </div>
    </section>
    <section>
        <ul>
            <li><a href="/instagram">Instagram</a></li>
            <li><a href="/facebook">Facebook</a></li>
            <li><a href="/linkedin">LinkedIn</a></li>
        </ul>
        <p>Copyright © 2025 Dutch Digital Agencies</p>
    </section>
</footer>