<header>
    <a href="/">
    <img src="../assets/logo.svg" width="107" height="80" alt="Logo" class="logo">
    </a>
    <nav>
        <div class="hidden-menu">
            <ul>
                <li><a class="sm" href="overons.liquid">over ons</a></li>
                <li><a class="sm" href="events.liquid">events</a></li>
                <li><a class="sm" href="publicaties.liquid">publicaties</a></li>
                <li><a class="sm" href="vacatures.liquid">vacatures</a></li>
                <li><a href="/login">inloggen</a></li>
                <li><a href="/wordlid">word lid</a></li>
            </ul>
        </div>
        <a href="#overons" class="ham-button">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
</header>