{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}

<main class="error">
    <h1>Pagina niet gevonden</h1>
    <dd>De opgevraagde pagina is niet beschikbaar. Controleer de URL of keer terug naar de <a href="/">homepage</a>.</dd>
</main>

{% render 'partials/footer.liquid' %}