html {
    @media (min-width: 650px){
        padding: 16px 48px;
    }
}

body {
    @media (min-width: 650px){
        border: var(--border);
    }
}

@view-transition {
    navigation: auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--spacing-12) var(--spacing-16);
    border-bottom: var(--border);
    background-color: var(--white);
    & img {
        height: 40px;
        width: auto;
    }
}

nav {
    width: 100%;
    display: flex;
    & .ham-button {
        position: relative;
        margin-left: auto;
        border: var(--border);
        height: 2.5rem;
        width: 2.5rem;
        background-color: var(--white);
        & span {
            height: 3px;
            width: 24px;
            background-color: var(--black);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3 ease;
        }
        & span:nth-child(1) {
            top: 30%;
        }
        & span:nth-child(2) {
            top: 50%;
        }
        & span:nth-child(3) {
            top: 70%;
        }
    }
    & .hidden-menu {
        display: none;
        & ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            & li {
                margin: 0 10px;

                & a {
                    text-decoration: none;
                    color: var(--black);
                    font-family: var(--secondary-font);

                    &:hover {
                        color: var(--blue);
                    }
                }
            }
        }
    }
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-48);
    border-bottom: 2px solid var(--black);
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--black);
        font-family: var(--secondary-font);
        font-size: var(--size-sm);
        font-weight: 340;
        & img {
            margin-right: 5px;
        }
        &:hover {
            color: var(--blue);
        }
    }
    & p {
        margin-top: var(--spacing-16);
        text-align: center;
    }
}

.filter-button-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    padding: var(--spacing-48) var(--spacing-24);
    & .inputbox {
        width: 100%;
        display: flex;
        flex-direction: column;
        & input {
            width: 75vw;
            outline: none;
            border: 1px solid transparent;
            border-bottom: var(--border);
            padding: var(--spacing-12);
            @media (min-width: 550px){
                width: 40vw;
            }
            @media (min-width: 850px){
                width: 30vw;
            }
        }
    }
    & .filter-btns {
        display: flex;
        gap: var(--spacing-16);
        flex-wrap: wrap;
        & .select-container {
            display: flex;
            & select {
                display: flex;
                width: max-content;
                justify-content: center;
                align-items: center;
                background-color: var(--white);
                appearance: none;
                text-align: center;
                font-family: var(--secondary-font);
                border: var(--border);
                padding: 5px;
            }
            & span {
                display: flex;
                align-items: center;
                border: var(--border);
                padding: var(--spacing-8);
            }
        }
        
        
        @media (min-width: 850px){
            flex-wrap: nowrap;
        }
    }
}

.vacancies-container {
    border-top: 2px solid var(--black);
    & .add-vacancie {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: var(--spacing-32);
        
        & summary {
            cursor: pointer;
            font-family: var(--secondary-font);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        summary::before {
            content: '+';
            margin-right: 0.25em;
            transition: transform 0.3s ease;
            display: inline-block;
            vertical-align: middle;
            font-size: 24px;
        }
        & img {
            padding-left: var(--spacing-8);
        }
    }
    details[open] summary::before {
        content: '+';  
        transform: rotate(45deg);
    }
}

.vacancies {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    list-style-type: none;
    margin: 0;
    padding: var(--spacing-40) var(--spacing-16);
    & li {
        border-bottom: var(--border);
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-16);
        padding-bottom: var(--spacing-32);
        & h2 {
            font-size: clamp(1.5rem, 3.5vw, var(--size-md));
            font-weight: 400; /* stays regular */
            letter-spacing: 0;
            line-height: clamp(var(--size-md), 3vw, 2.5rem);
        }
        & div {
            font-family: var(--secondary-font);
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--spacing-16);
            & span {
                margin-right: var(--spacing-16);
                font-size: 0.875rem;
            }
        }
        & a {
            display: flex;
            align-items: center;
            gap: var(--spacing-8);
            text-transform: uppercase;
        }
    }
    & .empty-state {
        text-align: center;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-top: 2px solid var(--black);
    & .ftr-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);
        width: 100%;
        border-top: var(--border);
        padding: var(--spacing-40) var(--spacing-16);
        & a {
            color: var(--black);
            font-family: var(--primary-font);
            text-decoration: underline;
            &:hover {
                color: var(--blue);
            }
        }
        & .dda-loc {
            display: flex;
            flex-direction: column;
        }
        & .dda-info {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-8);
        }
        & ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: var(--spacing-16);
        }
        & bold {
            font-weight: bold;
        }
        @media (min-width: 650px){
            box-shadow: 0 0 0 1px var(--black);
            border-top: 0;
        }

    }
    div:nth-child(1) {
        grid-area: logo;
    }
    div:nth-child(2) {
        grid-area: info1;
    }
    & div:nth-child(3) {
        gap: var(--spacing-24);
        grid-area: info2;
    }
    & div:nth-child(4) {
        gap: var(--spacing-24);
        grid-area: footer;
        @media (min-width: 650px){
            display: flex;
            flex-direction: row;
            & p {
                margin-left: auto;
            }
        }
    }
    & img {
        height: 110px;
        width: 110px;
    }
    @media (min-width: 650px){
        display: grid;
        grid-template-areas: 
            "logo logo"
            "info1 info2"
            "footer footer"
        ;
    }
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    padding: var(--spacing-64) var(--spacing-16);
    & p {
        margin-top: var(--spacing-16);
        font-size: var(--size-sm);
        line-height: 1.5rem;
    }
    & a {
        font-family: var(--primary-font);
        color: var(--blue);
        text-decoration: underline;
    }
}

.titel {
    text-align: center;
    padding: var(--spacing-16);
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    padding: var(--spacing-48) var(--spacing-24);
    border: var(--border);
    background-color: white;
    & .submit-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-top: var(--spacing-24);
        background-color: white;
        padding: var(--spacing-16);
        border: var(--border);
        font-family: var(--secondary-font);
        appearance: none;
        cursor: pointer;
        & .loading {
            opacity: .4;
        }
    }
    & label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-8);
    }
    & input {
        height: 30px;
        width: 300px;
        margin-bottom: 3vh;
    }
    & .close-btn {
        padding: var(--spacing-12);
        background-color: white;
        border: var(--border);
        margin-bottom: 2em;
        font-family: var(--secondary-font);
        cursor: pointer;
    }
}

.loader {
    display: none;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    &.show {
        display: inline-block;
        animation-play-state: running;
    }
    &.hide {
        display: none;
        animation-play-state: paused;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.succes-box {
    display: none;
    position: fixed;
    bottom: 10vh;
    left: 0;
    width: max-content;
    background-color: var(--white);
    padding: var(--spacing-12);
    opacity: 0;
    transition: opacity .3s ease-in;
    border: var(--border);
    & h6 {
        color: green;
        font-family: var(--primary-font);
        font-size: 1.25rem;
    }
    & p {
        font-family: var(--secondary-font);
        font-size: 0.85rem;
    }
    &.show {
        display: block;
        opacity: 1;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }